{% stylesheets
'@BlogBundle/Resources/public/css/nav.css'

filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}

<nav id="navbarproarti" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a id="logomobile" class=" visible-xs hidden-sm navbar-brand pull-left"
               href="{{ path('blog_default_index') }}"><img
                        src="{{ asset('bundles/blog/image/logo-inline-techsquids.png') }}"></a>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <a class=" hidden-xs navbar-brand pull-left" href="{{ path('blog_default_index') }}"><img
                        src="{{ asset('bundles/blog/image/logo-inline-techsquids.png') }}"></a>
            <ul class="nav navbar-nav">
                <li><a class="PrimaryNav" title="Pourquoi proarti"
                       href="{{ path('proarti_touscoprod_default_explanation') }}"><br><span>News</span>
                        </a></li>
                <li><a class="PrimaryNav" title="Réponses à vos questions"
                       href="{{ path('proarti_touscoprod_default_faq') }}"><br><span>Tests</span></a>
                </li>
                {#<li><a class="PrimaryNav" title="Nos meilleurs projects"#}
                       {#href="{{ path('proarti_touscoprod_default_projectindex') }}"><span>Retrouvez </span><br>nos#}
                        {#meilleurs projets</a></li>#}
                <li><a class="PrimaryNav" title="Contact"
                       href="{{ path('blog_contact_contactblog') }}"><br><span>Contact</span></a></li>
                <li><a id="cv-link" class="PrimaryNav" title="CV"
                       href="{{ path('cv_default_index') }}">Mon<br> <span>CV</span> </a></li>


                {#<!-- LOGIN / LOGOUT => ADMIN  -->#}
                {#{% if  is_granted('ROLE_ADMIN') %}#}
                    {#<li><a class="PrimaryNav" title="Nos meilleurs projects" href="{{ path('sonata_admin_dashboard') }}">admin</a></li>#}
                    {#<li><a class="PrimaryNav" title="Nos meilleurs projects" href="{{ path('fos_user_security_logout') }}">Logout</a></li>#}
                    {#<li><a class="PrimaryNav" title="Nos meilleurs projects" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>#}
                {#{% elseif is_granted('ROLE_USER') %}#}
                    {#<li><a class="PrimaryNav" title="Nos meilleurs projects" href="{{ path('fos_user_security_logout') }}">Logout</a></li>#}
                    {#<li><a class="PrimaryNav" title="Nos meilleurs projects" href="{{ path('fos_user_profile_show') }}">{{ app.user.username }}</a></li>#}

                {#{% else %}#}
                    {#<li><a class="PrimaryNav" title="Nos meilleurs projects" href="{{ path('fos_user_security_login') }}">Login</a></li>#}
                    {#<li><a class="PrimaryNav" title="Nos meilleurs projects" href="{{ path('fos_user_registration_register') }}">Register</a></li>#}

                {#{% endif %}#}
                {#<!-- end LOGIN / LOGOUT => ADMIN  -->#}


            </ul>


        </div>
    </div>
</nav>
