<!-- Article section -->


<div class="col-lg-8  col-md-8 col-sm-12 col-xs-12 jasgrid pull-left">
    {% for post in posts %}
        <a class="reward-button" href="{{ path('article', { 'id': post.id, 'slug': post.slug }) }}">
            <div class="lib-panel">
                <div class="row box-shadow">

                    <div class="col-md-4">
                        <img class="img-responsive" src="http://lorempixel.com/850/850/?random=123">
                    </div>
                    <div class="col-md-8 ">

                        <div class="lib-row lib-desc">
                            <div class="lib-row lib-header">
                                {{ post.title  |truncate(50, false, "  ...") }}
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                {{ post.content |striptags |raw |slice(0, 200) }} <br>
                                <p>lire plus ...</p>
                                <p>{{ post.author }}</p>
                                <p>{{ post.tag }}</p>
                                {{ post.date |time_diff }}
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </a>
    {% endfor %}


</div>


<style>


    a.fill-div {
        display: block;
        height: 100%;
        width: 100%;
        text-decoration: none;
    }

    .lib-panel {
        margin-bottom: 20Px;
    }

    .lib-panel img {
        width: 100%;
        background-color: transparent;
    }

    .lib-panel .row,
    .lib-panel .col-md-6 {
        padding: 0;
        background-color: #FFFFFF;
    }

    .lib-panel .lib-row {
        padding: 0 20px 0 20px;
    }

    .lib-panel .lib-row.lib-header {
        background-color: #FFFFFF;
        font-size: 20px;
        padding: 10px 20px 0 20px;
    }

    .lib-panel .lib-row.lib-header .lib-header-seperator {
        height: 2px;
        width: 26px;
        background-color: #d9d9d9;
        margin: 7px 0 7px 0;
    }

    .lib-panel .lib-row.lib-desc {
        position: relative;
        height: 100%;
        display: block;
        font-size: 13px;
    }

    .lib-panel .lib-row.lib-desc a {
        position: absolute;
        width: 100%;
        bottom: 10px;
        left: 20px;
    }

    .row-margin-bottom {
        margin-bottom: 20px;
    }

    .box-shadow {
        -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .10);
    }

    .no-padding {
        padding: 0;
    }
</style>
<!-- /.Article section -->

<!-- Last news section -->

<!-- /////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////
CORRIGER LA ZONE EN MOBILE QUI REMONTE JUSQU'AU BURGER-->


<script> $('#myTab a').click(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })


    $(window).load(function () {
        var boxheight = $('#myCarousel .carousel-inner').innerHeight();
        var itemlength = $('#myCarousel .item').length;
        var triggerheight = Math.round(boxheight / itemlength + 1);
        $('#myCarousel .list-group-item').outerHeight(triggerheight);
    });

    var monthNames = ["January", "February", "March", "April", "May", "June",
        "July", "August", "September", "October", "November", "December"];
    var dayNames = ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"]

    var newDate = new Date();
    newDate.setDate(newDate.getDate() + 1);
    $('#Date').html(dayNames[newDate.getDay()] + ", " + newDate.getDate() + ' ' + monthNames[newDate.getMonth()] + ' ' + newDate.getFullYear());
</script>