<div class="col-lg-4 col-md-4 col-sm-12 side-bar">

    <i class="fa fa-clock-o fa-2x pull-left" aria-hidden="true"></i>
    <h4>LES DERNIÈRES ACTUS</h4>
    <small>Dernière mise à jour: {{ lastPost.date|localizeddate('full', 'none') }}</small>
    <!-- Tab panes -->
    <div class="tab-content sidebar-tabing" id="nav-tabContent">
        <div class="tab-pane active" id="home" role="tabpanel">
            <!-- date tab with link to the all articles by day page -->
            <div class="row>">
                <a href="#">
                    <h5 style="background: #FF7B00; padding: .5em; color: #ffffff; text-align: left; text-decoration: none !important;">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        Samedi 16 Septembre
                    </h5>
                </a>
            </div>
            <!-- ./ Date tab -->

            {% for post in posts %}

                <div class="media"><a href="{{ path('article', { 'id': post.id, 'slug': post.slug }) }}"> <img class="d-flex mr-3 pull-left"
                                                     src="http://lorempixel.com/850/850/?random=123"
                                                     alt="Generic placeholder image"></a>
                    <div class="media-body">
                        <div class="news-title">
                            <p class="title-small"><a href="#">{{ post.title }}</a></p>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="news-auther"><p class="time">1h ago</p></div>
                            </div>
                            <!-- comments count-->
                            <div class="col-sm-6 pull-right nbr-comments">
                                <a class="pull-right " href="#"><i class="fa fa-comment-o pull-left "
                                                                   aria-hidden="true"></i>10</a>

                            </div>
                            <!-- ./ comments count-->

                        </div>
                    </div>
                </div>

            {% endfor %}


            <div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"
                                                 src="{{ asset('bundles/blog/image/media-1.jpeg') }}"
                                                 alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <p class="title-small"><a href="#">Key Republicans sign letter warning against
                                candidate</a></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="news-auther"><p class="time">1h ago</p></div>
                        </div>
                        <!-- comments count-->
                        <div class="col-sm-6 pull-right">
                            <a class="pull-right" href="#"> <i class="fa fa-comment-o pull-left nbr-comments"
                                                               aria-hidden="true"></i>10</a>

                        </div>
                        <!-- ./ comments count-->
                    </div>
                </div>
            </div>
            <div class="media"><a href="#"> <img class="d-flex mr-3 pull-left"
                                                 src="{{ asset('bundles/blog/image/media-1.jpeg') }}"
                                                 alt="Generic placeholder image"></a>
                <div class="media-body">
                    <div class="news-title">
                        <p class="title-small"><a href="#">Key Republicans sign letter warning against
                                candidate</a></p>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="news-auther"><p class="time">1h ago</p></div>
                        </div>
                        <!-- comments count-->
                        <div class="col-sm-6 pull-right">
                            <a class="pull-right" href="#"> <i class="fa fa-comment-o pull-left nbr-comments"
                                                               aria-hidden="true"></i>10</a>

                        </div>
                        <!-- ./ comments count-->
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

