{% extends 'proartiTouscoprodBundle::layout.html.twig' %}

{% block body %}

    {% stylesheets
    '@proartiTouscoprodBundle/Resources/public/css/explanation.css'
    '@proartiTouscoprodBundle/Resources/public/css/global.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <div id="EXPLANATION" class="container">
        <div class="row">

            <div class="col-md-8 col-sm-8 col-xs-12">

                <h3>touscoprod évolue et rejoint proarti</h3>
<div class="row">
                <div class="col-md-12" style="border: 1px solid black; margin-bottom: 2em">
                    <img class="img-responsive" style="max-width: 70%;padding-top: 2em; padding-bottom: 2em; display: block;  margin: 0 auto;" src="{{ asset('bundles/proartitouscoprod/image/test-logo_tcbp.png') }}">


                </div>

</div>
                <div class="text-black">
                    <div class="explenation-block-blue">
                        <p>Depuis la création de la plateforme Touscoprod en 2009, vous avez été plus de 50 000 à
                            rejoindre la
                            communauté des coprods. <strong>800 films ont pu voir le jour grâce à notre accompagnement
                                et à votre
                                soutien !</strong></p>
                        {#{% include '@proartiTouscoprod/Default/projects.html.twig' %}#}

                        <p>Parmi ces 800 projets, nous avons accompagné 5 projets sélectionnés à Cannes, 2 nominés aux
                            Oscar, 1
                            lauréat de l'Ours d'Or et de nombreuses autres productions audiovisuelles, tous formats
                            confondus.</p>

                        <a id="stories-link" href="{{ path('proarti_touscoprod_default_projectindex') }}"
                           class="btn bigbtn-white btn-block">Revoir les belles histoires
                        </a>

                    </div>

                    <p>Pour poursuivre cette belle histoire et continuer à offrir aux projets audiovisuels le meilleur
                        des
                        accompagnements, <strong>Touscoprod s’associe désormais à proarti, la première plate-forme de
                            financement
                            participatif entièrement dédiée à la création artistique, et crée <span class="tousproarti">Touscoprod by proarti.</span></strong>
                    </p>

                    <p>En rejoignant proarti, Touscoprod permet ainsi à tous les porteurs de projets audiovisuels de
                        bénéficier des avantages de <span class="up">proarti</span>, plateforme artistique portée par un
                        acteur à but non-lucratif
                        autorisé à recourir à la générosité du public <strong>et soutenue par le Ministère de la culture
                            et de la
                            communication lors de sa création en 2012.</strong></p>
                    <a id="stories-link" href="https://www.proarti.fr/profile/collect/project/conditions"
                       class="btn bigbtn-blue btn-block">Continuer sur proarti
                    </a>


                    <div id="atouts" class="row align-block">
                        <div class="col-md-12">
                            <h4>Les atouts de Touscoprod by proarti </h4>
                        </div>

                    </div>
                    <div class="grey-block">
                        <img class="text-center" src="{{ asset('bundles/proartitouscoprod/image/picto_idée.png') }}">

                        <h4 class="title"><b>// Une plateforme spécialisée plus souple que les autres</b></h4>
                        <p>L’équipe de <span class="up">proarti</span> conseille tous les porteurs de projets, les
                            accompagne main dans la main
                            pour dé nir la stratégie la plus adaptée et leur donner toutes les chances de
                            réussir.</p>
                        <p><b>Acteur à but non-lucratif, proarti inscrit son action dans le champ de l’économie
                                sociale et solidaire en proposant un accompagnement éthique et professionnel à
                                tous.</b> Avant et après la collecte, la viabilité du projet est examinée pour
                            sécuriser et garantir la relation entre ses créateurs et ses financeurs.</p>
                        <p>Cet accompagnement renforcé et humain nous permet d’avoir le meilleur taux de réussite du
                            secteur:
                            <b>plus de 85% des projets qui se lancent réussissent leur collecte !</b></p>
                    </div>

                    <div class="grey-block">
                        <img src="{{ asset('bundles/proartitouscoprod/image/picto_plateforme.png') }}">

                        <h4 class="title"><b>// Un accompagnement individualisé avant, pendant et après la
                                collecte</b></h4>
                        <p><span class="up">proarti</span> est au cœur de l’écosystème de la création artistique.
                            Depuis sa création, la
                            plateforme tisse de nombreux partenariats avec les acteurs du secteur qui profitent à de
                            nombreux porteurs de projets.
                        </p>
                        <p>Cette spécialisation dans le domaine de la création nous permet aussi de mieux nous adapter
                            aux enjeux et aux spécificités de chaque projet. <b>Ainsi, chez nous, pas de « tout ou rien »
                                sur les collectes !</b> Différents paliers de collecte sont fixés avec chaque porteur de
                            projets pour limiter les risques d’échec.</p>

                    </div>

                    <div class="grey-block">
                        <img src="{{ asset('bundles/proartitouscoprod/image/picto_soutenez.png') }}">

                        <h4 class="title "><b>// Un expert du mécénat et de la défiscalisation pour les
                                entreprises et les particuliers</b></h4>
                        <p><span class="up">proarti</span> aide chaque porteur de projet dans la vérification de son
                            éligibilité au mécénat,
                            dispositif fiscal incitatif pour les donateurs puisqu’il permet de réduire 66% de leur don
                            de leur impôts.
                        </p>
                        <p><b>Si le projet est éligible, proarti s’occupe de tout :</b> mise en avant de la réduction
                            fiscale
                            pour
                            inciter les donateurs à donner davantage, sécurisation juridique et envoi des reçus
                            fiscaux
                            aux donateurs.</p>

                        <p>Si le projet n’est pas éligible, le projet peut tout de même lancer sa collecte sur proarti
                            sans bénéficier de ce dispositif mais en profitant tout de même de l’accompagnement de
                            proarti
                            !</p>
                    </div>

                    <div id="atouts" class="row align-block">
                        <div class="col-md-12">
                            <h4>Rejoignez dès à présent Touscoprod by proarti
                            </h4>

                        </div>

                    </div>
                    <h4 class="h4-brown ">en déposant vos projets audiovisuels directement sur proarti.fr</h4>

                    <a id="stories-link" href="https://www.proarti.fr/profile/collect/project/conditions"
                       class="btn bigbtn-blue btn-block">Créer son projet
                    </a>
                    <a id="stories-link" href="https://www.proarti.fr/profile/collect/project/conditions"
                       class="btn bigbtn-white btn-block">Contacter l'équipe
                    </a>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 hint FAQ">
                <h3>
                    <i class="fa fa-lightbulb-o" aria-hidden="true"></i>
                    ASTUCE
                </h3>

                <p> Vous avez des questions complémentaires ?</p>
                <p>contactez l'équipe proarti: </p>

                <div class="list-group col-sm-offset-1 text-center">
                    {#<p>adresse</p>#}
                    {#<a href="http://maps.google.com/?q=7 Rue Bachelet, 75018 Paris" target="_blank" class="list-group-item">7 rue Bachelet 75018 Paris</a><br>#}
                    <p>Téléphone</p>
                    <a href="tel:+33652379309" class="list-group-item">06 52 37 93 09</a><br>
                    <p>Email</p>

                    <a href="mailto:contact@proarti.org" class="list-group-item">contact@proarti.org</a>
                </div>
            </div>
            {#<div class="row">#}
                {#<div class="parallax col-xs-12">#}
                    {#<section class=" text-center">#}
                        {#<div class="container">#}
                            {#<h2 class="jumbotron-heading ">Lancez votre projet sur proarti</h2>#}
                            {#<a href="https://www.proarti.fr/profile/collect/project/conditions"#}
                               {#class="btn bigbtn-blue ">Créer votre projet#}
                            {#</a>#}
                        {#</div>#}
                    {#</section>#}

                {#</div>#}
            {#</div>#}

        </div>

    </div>

    {#<script>#}
        {#//        parallax effect#}
        {#$('#indexparallax').css("background", "url({{ asset('bundles/proartitouscoprod/image/launch.png') }}) no-repeat fixed center");#}
        {#$('#indexparallax').css("background-size", "cover");#}


        {#//        shuffle project li - to delete when on twig#}
        {#$(document).ready(function () {#}
            {#var parent = $("#shuffle");#}
            {#var divs = parent.children();#}
            {#while (divs.length) {#}
                {#parent.append(divs.splice(Math.floor(Math.random() * divs.length), 1)[0]);#}
            {#}#}
            {#//        limit the number of project item to 4#}

            {#$(".scene:gt(3)").css("display", "none");#}

        {#});#}


    {#</script>#}
    
{% endblock body %}