{% extends '@Blog/layout.html.twig' %}

{% block body %}
    {% stylesheets
    '@BlogBundle/Resources/public/css/article.css'
    '@BlogBundle/Resources/public/css/nav.css'
    '@BlogBundle/Resources/public/css/global.css'

    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
    <div class="container ">
        <div class="row">
            <div class="col-md-7 col-xs-12 article" style="background: white; margin-right: 1em">
                <h1>{{ post.title }}</h1>
                <a class="authorlink" href="{{ path('author', { 'slug': post.author }) }}">{{ post.author |upper }}</a>
                <p><a href="#">{{ post.tag }} </a> {{ post.date |localizeddate('full', 'none') }} </p>

                <p>{{ post.content |raw }}</p>
                <p>Partagez votre participation</p>
                <a class="twitter-share-button"
                   href="https://twitter.com/intent/tweet?text=Hello%20world"
                   data-size="large">
                    Tweet</a>

            </div>
            {% include '@Blog/includes/sidebar-actus.html.twig' %}


        </div>
    </div>

{% endblock body %}