<link href="https://fortawesome.github.io/Font-Awesome/assets/font-awesome/css/font-awesome.css" rel="stylesheet">
<!--footer start from here-->
{% stylesheets
'@proartiTouscoprodBundle/Resources/public/css/footer.css'

filter='cssrewrite' %}
<link rel="stylesheet" href="{{ asset_url }}"/>
{% endstylesheets %}


<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 footerleft ">
                <div class="logofooter "> <a href="{{ path('proarti_touscoprod_default_index') }}">
                        <img src="{{ asset('bundles/proartitouscoprod/image/navbar/Logo_Touscoprod_Blanc_SansFond.png') }}">
                    </a>
                </div>
                {#<a class="navbar-brand pull-left" href="{{ path('proarti_touscoprod_default_index') }}"><img src="{{ asset('bundles/proartitouscoprod/image/navbar/touscoprod-by-proarti-test.png') }}"></a>#}

                {#<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>#}
                {#<p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>#}


            </div>
            <div class="col-md-2 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">En savoir plus</h6>
                <ul class="footer-ul">
                    <li><a href="{{ path('proarti_touscoprod_default_explanation') }}">EXPLICATION</a></li>
                    <li><a href="{{ path('proarti_touscoprod_default_faq') }}">FAQ</a></li>
                    <li><a href="{{ path('proarti_touscoprod_default_collectdefault') }}">PROJET</a></li>

                </ul>
            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">INFORMATIONS SUR PROARTI</h6>
                <ul class="footer-ul">
                    <li><a href="{{ path('proarti_touscoprod_default_explanation') }}">EXPLICATION</a></li>
                    <li><a href="{{ path('proarti_touscoprod_default_faq') }}">FAQ</a></li>
                    <li><a href="{{ path('proarti_touscoprod_default_collectdefault') }}">PROJET</a></li>

                </ul>

            </div>
            <div class="col-md-3 col-sm-6 paddingtop-bottom">
                <h6 class="heading7">CONTACT</h6>


                <p class="contact-details"><i class="fa fa-map-marker" aria-hidden="true"></i><a  target="_blank" href="http://maps.google.com/?q=7 Rue Bachelet, 75018 Paris">  7 rue Bachelet 75018 Paris</a></p>
                <p class="contact-details"><i class="fa fa-phone" aria-hidden="true"></i> <a  href="tel:+33652379309">06 52 37 93 09 </a> </p>
                <p class="contact-details"><i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:contact@proarti.org" class="">contact@proarti.org</a></p>
                <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/proarti-146766048850290"><a href="https://www.facebook.com/proarti-146766048850290">Facebook</a></blockquote>
                    </div>
                </div>
                <div class="fb-page" data-href="https://twitter.com/proarti" data-tabs="timeline" data-height="300" data-small-header="false"  data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://twitter.com/proarti"><a style="color: #40AAF2 !important;" href="https://www.facebook.com/facebook">Twitter</a></blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--footer start from here-->

<div class="copyright">
    <div class="container">
        <div class="col-md-6">
            <p>© 2017 - proarti Tous droits réservés</p>
        </div>
        <div class="col-md-6 text-center ">
            <ul class="bottom_ul mobile ">
                <li><a href="https://www.proarti.fr">proarti.fr</a></li>
                <li><a href="{{ path('proarti_touscoprod_default_explanation') }}">A propos de proarti</a></li>
                <li><a href="{{ path('proarti_touscoprod_default_faq') }}">FAQ</a></li>

            </ul>
        </div>
    </div>
</div>