<section id="portfolio">

    <div class="row">
        <h1>Quelques-unes de mes réalisations</h1>

        <div class="col-md-offset-2">


            <!-- portfolio-wrapper -->
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">


                <div class="col-md-2">
                    <div class="item-wrap">

                        <a href="#modal-01" title="test">
                            <img class="img-responsive" alt="" src="{{ asset('bundles/cv/image/portfolio/modals/Screen Shot 2017-10-19 at 15.27.23.png') }}">


                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>ecoambassadeurs</h5>
                                    <p>Nouveau site web bilingue</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->


                <div class="col-md-2">
                    <div class="item-wrap">

                        <a href="#modal-02" title="">
                            <img class="img-responsive" alt="" src="{{ asset('bundles/cv/image/portfolio/modals/Screen Shot 2017-10-19 at 15.31.32.png') }}">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Ecoambassadeurs</h5>
                                    <p>Nouveau logo</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->


                <div class="col-md-2">
                    <div class="item-wrap">

                        <a href="#modal-03" title="">
                            <img class="img-responsive" alt="" src="{{ asset('bundles/cv/image/portfolio/eco.jpg') }}">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>Ecoambassadeurs</h5>
                                    <p>Nouveau site internet et nouvelle charte graphique</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->

                <div class="col-md-2">
                    <div class="item-wrap">

                        <a href="#modal-04" title="">
                            <img class="img-responsive" alt="" src="{{ asset('bundles/cv/image/portfolio/plaquette_EC.jpg') }}">
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>European Constructions</h5>
                                    <p>Nouvelle charte graphique et nouveaux supports</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>

                    </div>
                </div> <!-- item end -->


            </div> <!-- portfolio-wrapper end -->

        </div> <!-- twelve columns end -->


        <!-- Modal Popup -->

        <div id="modal-01" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ asset('bundles/cv/image/portfolio/modals/Screen Shot 2017-10-19 at 15.27.23.png') }}" alt=""/>
            {#<iframe scrolling="no" src="{{ path('blog_default_index') }}" width="1920" height="1080" style="-webkit-transform:scale(0.5);-moz-transform-scale(0.5);"></iframe>#}

            <div class="description-box">
                <h4><a href="{{ path('blog_default_index') }}">Techsquids.com</a></h4>
                <p>Création d'un site de news personnel contenant mes différents projets <br>(vous êtes dessus ^)</p>
                <span class="categories"><i class="fa fa-tag"></i>HTML/CSS, Symfony3, PHP,Mysql, Bootstrap, </span>
            </div>

            <div class="link-box">
                <a href=""></a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-01 End -->




        <div id="modal-02" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ asset('bundles/cv/image/portfolio/modals/Screen Shot 2017-10-19 at 15.31.32.png') }}" alt=""/>

            <div class="description-box">
                <h4><a href="{{ path('proarti_touscoprod_default_index') }}">Touscoprod by proarti</a></h4>
                <p>Création d'un mini site pour la reprise de touscoprod.com</p>
                <span class="categories"><i class="fa fa-tag"></i>HTML/CSS,Jquery</span>

            </div>

            <div class="link-box">
                <a href=""></a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-02 End -->

        <div id="modal-03" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ asset('bundles/cv/image/portfolio/modals/m-eco.jpg') }}" alt=""/>

            <div class="description-box">
                <h4>Ecoambassadeurs</h4>
                <p>Nouveau site internet et nouvelle charte graphique</p>
                <span class="categories"><i class="fa fa-tag"></i>Wordpress, HTML/CSS</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-03 End -->

        <div id="modal-04" class="popup-modal mfp-hide">

            <img class="scale-with-grid" src="{{ asset('bundles/cv/image/portfolio/modals/m-plaquette_EC.jpg') }}" alt=""/>

            <div class="description-box">
                <h4>European Constructions</h4>
                <p>Nouvelle charte graphique et nouveaux supports</p>
                <span class="categories"><i class="fa fa-tag"></i>Design, Identité graphique, Suite Adobe Design</span>
            </div>

            <div class="link-box">
                <a href="http://www.behance.net">Details</a>
                <a class="popup-modal-dismiss">Close</a>
            </div>

        </div><!-- modal-04 End -->

    </div> <!-- row End -->

</section> <!-- Portfolio Section End-->
