
    <!-- Work experience -->

    <div class="row work">

        <div class="col-md-3 col-sm-12">

            <h1><span>Work Experience</span></h1>

        </div>

        <div class="col-md-6 col-sm-12">

            <div class="row item">

                <div class="col-md-12">


                    <!--<h3>Europeanconstructions</h3>	 -->
                    <div>
                        <a href="http://www.teogest.com" title="Europeanconstructions"> </a>
                        <img alt="logo Europeanconstructions" src="{{ asset('bundles/cv/image/logo-europeanconstructions.jpg') }}">
                        <div class="overlay">
                        </div>
                    </div>

                    <p class="info">Freelance <span>&bull;</span> <em class="date">2016</em><span>&bull;</span><em class="lead"> Paris, France.</em></p>



                    <p>
                        - Travail sur la charte graphique et l'image de l'entreprise.<br>
                        - Design d'une nouvelle plaquette.<br>
                        - Création des cartes de visite.<br>


                </div>

            </div> <!-- item end -->


            <div class="row item">

                <div class="col-md-12">


                    <!--<h3>Teogest</h3>	 -->
                    <div>
                        <a href="http://www.teogest.com" title="Teogest"> </a>
                        <img alt="logo Teogest" src="{{ asset('bundles/cv/image/logo_teogest.png') }}">
                        <div class="overlay">
                        </div>
                    </div>

                    <p class="info">Chargé de Marketing <span>&bull;</span> <em class="date"> 2015 -  2016</em><span>&bull;</span><em class="lead"> Paris, France.</em></p>



                    <p>
                        Mise en place et suivi des opérations marketing et communication :<br>
                        - Création et gestion des campagnes d’e-mails.<br>
                        - Animation des réseaux sociaux.<br>
                        - Élaboration des Marketing materials (plaquettes, leaflets, kakemono, etc.).<br>
                        - Référencement.<br>
                        - Design et contenu du site web.<br>
                        - Organisation et gestion de salon au 70ème Congrès des experts-comptables 2015 - stand de 28m2 (choix et suivi des prestataires, gestion et organisation du stand).<br>
                    </p>

                </div>

            </div> <!-- item end --><br>

            <div class="row item">

                <div class="col-md-12">


                    <!--<h3>Ecoambassadeurs</h3> 	-->
                    <div>
                        <a href="" title="ecoambassadeurs"> </a>
                        <img alt="logo ecoambassadeurs" src="{{ asset('bundles/cv/image/logo-ecoambassadeurs.png') }}">
                        <div class="overlay">
                        </div>
                    </div>

                    <p class="info">Web Project Manager <span>&bull;</span> <em class="date"> 2013 -  2014</em><span>&bull;</span><em class="lead"> Toronto, Canada.</em></p>

                    <p>
                        Gestion de projet web (nouveau site bilingue).
                        Including:<br>
                        - Création et design du nouveau site avec un développeur - Wordpress.<br>
                        - Nouveau logo et nouvelle charte graphique - Illustrator / Photoshop.
                    </p>

                </div>

            </div><br> <!-- item end -->

            <div class="row item">

                <div class="col-md-12">


                    <!--<h3>IKO System</h3>-->
                    <div>
                        <a href="http://www.iko-system.com" title="IKO System"> </a>
                        <img alt="logo IKO System" src="{{ asset('bundles/cv/image/logo-iko-systems.png') }}">
                        <div class="overlay">
                        </div>
                    </div>

                    <p class="info">Assistant Webmarketing & Web-design <span>&bull;</span> <em class="date"> 2012 -  2013</em><span>&bull;</span><em class="lead"> Paris, France.</em></p>

                    <p>
                        - Gestion du contenu bilingue  et corporate identity.<br>
                        - Création et gestion des marketing materials, etc. - Illustrator / Indesign.<br>
                        - Mise en place de campagnes d’e-mail marketing.<br>
                        - Mémoire : Les e-CRM, intérêt et impact sur l’entreprise.
                    </p>

                </div>

            </div><br> <!-- item end -->

            <div class="row item">

                <div class="col-md-12">

                    <!--<h3>Smartfocus</h3>-->

                    <div>
                        <a href="http://www2.smartfocus.com/fr" title="smartfocus"> </a>
                        <img alt="logo smartfocus" src="{{ asset('bundles/cv/image/logo_smartfocus.jpg') }}">
                        <div class="overlay">
                        </div>
                    </div>

                    <p class="info">Product Marketing Assistant <span>&bull;</span> <em class="date"> 2011 -  2012</em><span>&bull;</span><em class="lead"> Clichy, France.</em></p>

                    <p>
                        - Gestion de la création d’un site pour les partenaires d’Emailvision sur Drupal.<br>
                        - Élaboration des supports marketing (Flyers, présentations, etc.) - Indesign.<br>
                        - Gérer les leads générés lors des events - Salesforce. <br>
                        - Éffectuer une veille technologique et business.<br>
                        - Mémoire : E-mail et fidélisation.

                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="col-md-12">

                    <!--<h3>Oberthur Technologies</h3>-->

                    <div>
                        <a href="http://www.oberthur.com/fr/" title="Oberthur Technologies"> </a>
                        <img alt="logo Oberthur" src="{{ asset('bundles/cv/image/logo_oberthur.jpg') }}">
                        <div class="overlay">
                        </div>
                    </div>
                    <p class="info">Product Marketing Assistant <span>&bull;</span> <em class="date"> 2010 -  2011</em><span>&bull;</span><em class="lead"> La Defense, France.</em></p>

                    <p>
                        - Création des marketing materials (datasheets, presentations, flash animations).<br>
                        - Suivi d’une veille technologique et concurrentielle.<br>
                        - Réalisation et diffusion des Press Reviews hebdomadaires.<br>
                        - Suivi du développement d’applications SIM.<br>
                        - Recherche de partenaires pour les applications SIM.<br>
                        - Salons internationaux (Cartes 2009 : France, MWC 2010 : Espagne).<br>
                        - Réalisation d’un audit  pour améliorer la mesure quantitative  des ventes
                        d’applications SIM et optimiser ses processus de remontée d’informations.
                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="col-md-12">

                    <!--<h3>Adesium</h3>-->

                    <div>
                        <a href="" title="Adesium"> </a>
                        <img alt="logo Adesium" src="{{ asset('bundles/cv/image/logo_adesium.jpg') }}">
                        <div class="overlay">
                        </div>
                    </div>
                    <p class="info">Assistant Marketing & Commercial B to B<span>&bull;</span> <em class="date"> 2009 -  2010</em><span>&bull;</span><em class="lead"> Courtaboeuf, France.</em></p>

                    <p>
                        - Gérer le Marketing et la Communication d’un nouveau produit.<br>
                        - Effectuer un suivi des actions Marketing - ROI, Prévisionnel.<br>
                        - Réaliser une étude de marché sur la dématérialisation fiscale en France.<br>
                        - Participer à des salons professionnels.<br>
                        - Mise en place d'une CRM Open Source (SugarCRM) pour améliorer ventes et service client.<br>
                        - Réaliser une prospection B to B Grands comptes.
                    </p>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Work -->